#master_container{
	padding: 5px;
	width:300px;
	text-align: center;
}

#name_input{
	height:28px;
	font-size: 14px;
}

#name_list_area{
	font-size: 14px;
}

#name_area_container{
	padding:3px;
}

.list-group-item{
	cursor: pointer;
}

.list-group-item:hover{
	background-color:lightgrey;
}